<%- include('partials/header') %>

<div class="bg-white p-6 rounded-xl shadow-md">
    <h1 class="text-3xl font-bold mb-4">Home</h1>
    <p class="text-lg">Bem-vindo ao projeto MVC!</p>
</div>

<%- include('partials/footer') %>