<%- include('partials/header') %>

<div class="bg-white rounded-2xl shadow-xl p-10 text-center">

    <h1 class="text-4xl font-extrabold text-gray-800 mb-4">
        Bem-vindo 👋
    </h1>

    <p class="text-lg text-gray-600 mb-6">
        Este é um projeto MVC com Node.js + EJS
    </p>

    <a href="/produtos" 
       class="bg-blue-600 text-white px-6 py-3 rounded-xl shadow hover:bg-blue-700 hover:scale-105 transition">
       Acessar Produtos
    </a>

</div>

<%- include('partials/footer') %>