<%- include('partials/header') %>

<div class="border p-6 rounded transition hover:shadow-md hover:-translate-y-1">

    <h1 class="text-2xl font-bold mb-4">Home</h1>

    <p>
        Este é um projeto simples desenvolvido utilizando o padrão MVC com Node.js.
    </p>

</div>

<%- include('partials/footer') %>