<form class="flex flex-col gap-4 max-w-md border p-6 rounded 
             transition hover:shadow-md">

    <input 
        type="text" 
        placeholder="Nome"
        class="border p-2 rounded"
        required
    >

    <input 
        type="email" 
        placeholder="Email"
        class="border p-2 rounded"
        required
    >

    <button class="bg-gray-800 text-white p-2 rounded hover:bg-gray-900 transition">
        <a href="/home">Enviar</a> 
    </button>

</form>