<%- include('partials/header') %>

<div class="bg-white rounded-2xl shadow-xl p-10">

    <h1 class="text-3xl font-bold mb-4 text-gray-800">
        Sobre o Projeto
    </h1>

    <p class="text-gray-600 leading-relaxed">
        Este sistema foi desenvolvido utilizando arquitetura MVC com Node.js,
        separando responsabilidades entre Model, View e Controller.
    </p>

</div>

<%- include('partials/footer') %>