<%- include('partials/header') %>

<div class="bg-white p-6 rounded-xl shadow-md">
    <h1 class="text-3xl font-bold mb-4">Sobre</h1>
    <p class="text-lg">Projeto desenvolvido para aprendizado de MVC com Node.js.</p>
</div>

<%- include('partials/footer') %>